@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
*{
  scroll-behavior: smooth;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #000000;
  font-family: "Outfit", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}
@keyframes fadeIn {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
.fade-in {
  animation: fadeIn 3s ease-in-out forwards;
}
.fade-it {
  animation: fadeIn 1s ease-in-out forwards;
}
.fade-on {
  animation: fadeIn .5s ease-in-out forwards;
}